$white: #FFF;
$white-footer: #F8F8F8;
$gray-border: #00000029;
$gray-faq-bg: #F2F2F2;
$gray-faq-border: #E5E5E5;
$gray-works-border: #DDD;
$gray-header-shadow: #00000029;
$black: #333;
$blue: #0C449B;
$skyblue-txt: #3BA6C9;
$skyblue-bg: #EEFBFB;
$pink-gradation-1: #FA41CC;
$pink-gradation-2: #6020B0;
$blue-gradation-1: #05A5FA;
$blue-gradation-2: #63FBD7;
$blue-gradation-3: #67FFD6;